/*----------
Color palette
#F9F1F0
#FADCD9
#F8AFA6
#F79489
*/

#first-section {
    background-color: #F9F1F0;
}

#second-section {
    background-color: #F79489;
}

#third-section {
    background-color: #FADCD9;
}

fourth-section {
    background-color: #F8AFA6;
}