/*----------
Color palette
#F9F1F0
#FADCD9
#F8AFA6
#F79489
*/

#about-section {
    background: #F9F1F0;
}

#success-stories-section {
    background-color: #F79489;
}

#programmes-section {
    background-color: #FADCD9;
}

#contact-section {
    background-color: #F8AFA6;
}

/* Center navbar tabs */

.navbar .navbar-collapse {
    text-align: center;
  }

/* Hover effects 

a.nav-link::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
a.nav-link:hover::before {
transform: scaleX(1);
transform-origin: bottom left;
}

a.nav-link::before {
content: " ";
display: block;
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
inset: 0 0 0 0;
background: hsl(200 100% 80%);
z-index: -1;
transition: transform .3s ease;
}

*/

#about-section>img {
    width: 70%;
    height: 70%;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}
  
.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}